
#overlay { 
  display:none;
  height:325px; 
  width: 300px;
  background-color:#fff;
  //position:absolute;
  top: 0px;
  left:0px;
  z-index:5;
  overflow: auto; 
  border: 1px solid black; 
  font-size:11pt;
  padding: 6px;
  }


#overlay div.inside,
#overlay div.close{
 background-color: #eee;
 font-size: 10pt;
 text-align: right;
 padding-right: 6px;
}

#overlay div.inside {
    padding-right: 0px;
    width: 95%;
    margin:  auto;
    position: absolute;
    bottom: 0;
}  

#overlay div.close a { 
   padding-left: 4px; 
 }
#overlay div.close span.oltools-left { float: left; padding-left: 5px;}  /*tool left*/
#overlay div.close span.oltools-right { float: left; padding-left: 14px;}  /*tool middle*/

#overlay ul.idx {
    padding-left: 0;
}
#overlay ul.idx {
    padding-right: 0;
}
#overlay ul.idx li {
    list-style-image: url(../../images/bullet.png);
}
#overlay ul.idx li.open {
    list-style-image: url(../../images/open.png);
}
#overlay ul.idx li.closed {
    list-style-image: url(../../images/closed.png);
}
#overlay ul.idx li.closed {
    list-style-image: url(../../images/closed-rtl.png);
}

#overlay ul.idx li a.wikilink2 { color: __existing__ ; }

/* mark  settings here as !important.  For instance,  color: green !important;   */
button.overlaytools {}
a.overlaytools {}
